<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - sem1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/AddCard.css" rel="stylesheet" />
</head>
<body>
    <header >
        <nav style="background-color: #222629" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">
            <div class="container" style="background-color: #222629 ; color: #222629" >
                <a class="navbar-brand text-white" asp-area="" asp-page="/Index">VP Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link " style="color:#86C232" asp-area="" asp-page="/Warehouses/Index">Warehouses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " style="color:#86C232" asp-area="" asp-page="/Products/Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " style="color:#86C232" asp-area="" asp-page="/Items/Index">Items</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>*@
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-white-50" style="  background-color: rgba(0,0,0,0.01); }">
        <div class="container">
            &copy; 2021 - sem1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <style>
        .nav-item:hover {

            background-color: #6B6E70;
            border-radius: 25px;

        }
        body {
            margin: 0;
            font-family: calibri;
            background: #6a9113; /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #6a9113, #141517); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #6a9113, #141517); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-color: #222629;
            color: #222629;
            padding-bottom:50px;
        }
        footer{
            padding-top: 20px;
            border:none;
            border: hidden;
        }
    </style>
    
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
