@page
@model sem1.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="ccenter-div" >
    @*<div class="col-md-4">*@
        <form method="post" class="aaddfrm" style="margin-left:auto;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
            <div style="display: flex; justify-content: space-between;">
                <div class="ggroup">
                    <input asp-for="Product.Name" class="iinput" placeholder=" ">
                    <span class="hhighlight" asp-validation-for="Product.Name" hidden></span>
                    <span class="bbar" asp-validation-for="Product.Name"></span>
                    <label class="llabel2" asp-for="Product.Name"></label>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="ggroup">
                    <input asp-for="Product.Length" class="iinput" placeholder=" ">
                    <span class="hhighlight" asp-validation-for="Product.Length" hidden></span>
                    <span class="bbar" asp-validation-for="Product.Length"></span>
                    <label class="llabel2" asp-for="Product.Length"></label>
                </div>
            </div>
            <div  style="display: flex; justify-content: space-between;">
                <div class="ggroup">
                    <input asp-for="Product.Width" class="iinput" placeholder=" ">
                    <span class="hhighlight" asp-validation-for="Product.Width" hidden></span>
                    <span class="bbar" asp-validation-for="Product.Width"></span>
                    <label class="llabel2" asp-for="Product.Width"></label>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="ggroup">
                    <input asp-for="Product.Height" class="iinput" placeholder=" ">
                    <span class="hhighlight" asp-validation-for="Product.Height" hidden></span>
                    <span class="bbar" asp-validation-for="Product.Height"></span>
                    <label class="llabel2" asp-for="Product.Height"></label>
                </div>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <div class="ggroup">
                    <input asp-for="Product.Description" class="iinput" placeholder=" ">
                    <span class="hhighlight" asp-validation-for="Product.Description" hidden></span>
                    <span class="bbar" asp-validation-for="Product.Description"></span>
                    <label class="llabel2" asp-for="Product.Description"></label>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="ggroup">
                    <input asp-for="Product.Vendor" class="iinput" placeholder=" ">
                    <span class="hhighlight" asp-validation-for="Product.Vendor" hidden></span>
                    <span class="bbar" asp-validation-for="Product.Vendor"></span>
                    <label class="llabel2" asp-for="Product.Vendor"></label>
                </div>
            </div>
            <div style="display:inline-block; padding-left:150px;">
                <div class="ggroup">
                    <input asp-for="Product.Price" class="iinput" placeholder=" ">
                    <span class="hhighlight" asp-validation-for="Product.Price" hidden></span>
                    <span class="bbar" asp-validation-for="Product.Price"></span>
                    <label class="llabel" asp-for="Product.Price"></label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="bty" />
                </div>
            </div>
            
        </form>
    @*</div>*@
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
