body {
    margin: 0;
    font-family: calibri;
    /*background: #6a9113;*/ /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to bottom, #6a9113, #141517);*/ /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to bottom, #6a9113, #141517);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background-color: #222629;*/
    color: #222629;
}
.h1Main {
    color: #222629;
}
.bty {
    /*background-color: #3b3b3b;*/
    font-weight:bold;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    width: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #86C232;
    font-weight: 400;
}

    .bty:hover {
        color: #fff;
        background-color: #23272b;
        border-color: #1d2124;
    }
.aAdd:hover {
    /* background-color: #31404a;
        text-decoration:none;
        color: white;*/
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    text-decoration: none;
}

.aAdd {
    padding-top: 3px;
    padding-bottom: 0px;
    color: white;
    border-radius: 20px;
    display: block;
    background-color: #222629;
    margin-left: 910px;
    
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    width: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #86C232;
    font-weight: 400;

    margin-left:900px;

}
/*

.zlogo {
    color: black;
    display: inline-lock;
}

.zheader {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: absolute;
    width: 100%;
    z-index: 3;
}

    .zheader ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }

    .zheader li a {
        display: block;
        padding: 20px 20px;
        text-decoration: none;
        color: black;
        font-weight: 600;
    }*/

html {
    scroll-behavior: smooth;
}

.zheader li a:hover,
.zheader .zmenu-btn:hover {
    background-color: #f4f4f4;
}

.zheader .zlogo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

/* menu */

.zheader .zmenu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.zheader .zmenu-icon {
    cursor: pointer;
    display: inline-block;
    /* float: right; */
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

    .zheader .zmenu-icon .znavicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }

        .zheader .zmenu-icon .znavicon:before,
        .zheader .zmenu-icon .znavicon:after {
            background: #333;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }

        .zheader .zmenu-icon .znavicon:before {
            top: 5px;
        }

        .zheader .zmenu-icon .znavicon:after {
            top: -5px;
        }

/* menu btn */

.zheader .zmenu-btn {
    display: none;
}

    .zheader .zmenu-btn:checked ~ .zmenu {
        max-height: 240px;
    }

    .zheader .zmenu-btn:checked ~ .zmenu-icon .znavicon {
        background: transparent;
    }

        .zheader .zmenu-btn:checked ~ .zmenu-icon .znavicon:before {
            transform: rotate(-45deg);
        }

        .zheader .zmenu-btn:checked ~ .zmenu-icon .znavicon:after {
            transform: rotate(45deg);
        }

    .zheader .zmenu-btn:checked ~ .zmenu-icon:not(.steps) .znavicon:before,
    .zheader .zmenu-btn:checked ~ .zmenu-icon:not(.steps) .znavicon:after {
        top: 0;
    }

/* 48em = 768px */

@media (min-width: 48em) {
    .zheader li {
        float: left;
    }

        .zheader li a {
            padding: 22px 14px;
        }

    .zheader .zmenu {
        clear: none;
        float: right;
        max-height: none;
    }

    .zheader .zmenu-icon {
        display: none;
    }
}


/*.zcard {
}*/
/* div 1 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.zcard-container {
    background-color: hsl(244, 38%, 16%);
    /*width: 90%;*/
    border-radius: 10px;
    width: 100%;
    max-width: 475px;
    overflow: hidden;
    margin: 30px 0;
    padding: 50px;
}

.zhero-image-container {
    background-color: hsl(0, 0%, 95%);
}

.zhero-image-mobile {
    display: block;
    width: 100%;
    mix-blend-mode: multiply;
}

.ztext-box {
    text-align: center;
    padding: 20px 30px;
}

.zhero-image-desktop {
    display: none;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: "inter", sans-serif;
    font-size: 1.76rem;
}

    h1 span {
        color: hsl(280, 6%, 90%);
    }

.zhero-text p {
    font-family: "lexend Deca", sans-serif;
    font-size: 0.938rem;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.6rem;
}

.zst {
    list-style: none;
    font-family: "inter", sans-serif;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 0.8rem;
    display: block;
    letter-spacing: 0.05rem;
    padding: 0;
}

.zstli {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    .zstli span:nth-of-type(1) {
        color: hsl(0, 0%, 100%);
        font-size: 1.3rem;
        font-weight: bolder;
        margin-bottom: 5px;
    }

    .zstli span:nth-of-type(2) {
        letter-spacing: 0.2rem;
        font-size: 0.7rem;
    }

.zattribution {
    font-size: 0.94rem;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.6);
}

    .zattribution a {
        color: hsl(278, 15%, 90%);
    }

@media (min-width: 1250px) {
    .zcard-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        max-width: none;
        text-align: left;
        width: 100%;
        max-width: 1191px;
        max-height: 800px;
    }

    .zhero-image-desktop {
        display: block;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        overflow: hidden;
    }

    .zhero-image-mobile {
        display: none;
    }

    h1 {
        font-size: 2.4rem;
    }

    .ztext-box {
        width: 50%;
        text-align: left;
        padding: 0 40px;
    }

    .zst {
        display: flex;
        justify-content: space-between;
        max-width: 400px;
        margin-top: 40px;
    }
}

/* search products chart */
.zProducts {
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 90px;
    padding-bottom: 50px;
}

.ztab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    .ztab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        .ztab button:hover {
            background-color: #ddd;
        }

        .ztab button.active {
            background-color: #ccc;
        }

.ztabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: hsl(0, 0%, 95%);
}

/* search form */

form input {
    margin: 15px 0;
    padding: 15px 10px;
    width: 100%;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 20px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.zsbmt {
    background: linear-gradient(to top left, #9999ff 0%, #ff99cc 100%);
    cursor: pointer;
}

    .zsbmt:hover {
        background: linear-gradient(to top left, #9900cc 0%, #ff99cc 100%);
    }

.ztable {
    border: 1px solid #ccc;
    border-collapse: collapse;
    /*background-color: #222629;*/
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

    .ztable caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    .ztable tr {
        background-color: #d7e2eb;
        border: 1px solid #ddd;
        padding: .35em;
    }

    .ztable th,
    .ztable td {
        padding: .625em;
        text-align: center;
    }

    .ztable th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

@media screen and (max-width: 600px) {
    .ztable {
        border: 0;
    }

        .ztable caption {
            font-size: 1.3em;
        }

        .ztable thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        .ztable tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        .ztable td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

            .ztable td::before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            .ztable td:last-child {
                border-bottom: 0;
            }
}


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}






/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    /*background-color: #222629;*/
    border: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    /*white-space: nowrap;*/
    line-height: 60px; /* Vertically center the text there */
}


/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap'); */


.newtable {
    border-collapse: collapse;
    width: 90%;
    margin-left: 50px;
}

@media only screen and (max-width: 600px) {
    .newtable {
        width: 100%;
        margin-left: 0px;
    }
}


.newhead {
    text-align: left;
    padding: 15px;
}

.newdesc {
    text-align: left;
    padding: 15px;
}

.newrow:nth-child(even) {
    /*background-color: #6B6E70;*/
    color: black;
}

.newrow:hover:nth-child(even) {
    color: black;
}

/*.newrow{
    color: black;
}*/
.newhead {
    background-color: #222629;
    color: white;
}


.newrow:hover {
    background-color: #86C232;
    color: white;
}



body {
    background-color: #fcfcfc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ccenter-div {
    /* position: absolute; */
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: auto;
    /*background-color: hsl(244, 38%, 16%);*/
    background-color: #fcfcfc;
    border-radius: 3px;
}

.aaddfrm {
    padding-top: 20px; /* here */
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

    h2 small {
        font-weight: normal;
        color: #888;
        display: block;
    }

/*.footer {
    text-align: center;
}

    .footer a {
        color: #53B2C8;
    }*/

/* form starting stylings ------------------------------- */
.ggroup {
    position: relative;
    margin-bottom: 45px;
}

.iinput {
    font-size: 15px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    /*background-color: #ccc;*/
    /*background-color: #fcfcfc;*/
    /*border-radius:2px;*/
    background-color: rgb(218, 212, 212);
    border-bottom: 1px solid #757575;
    border-radius: 15px 8px 5px 5px;
}

    .iinput:focus {
        outline: none;
    }

/* LABEL ======================================= */
.llabel {
    color: #565656;
    font-size: 15px;
    font-weight: normal;
    position:absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.llabel2 {
    color: #565656;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 25px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.iinput:focus ~ label, .iinput:not(:placeholder-shown) ~ .llabel2 {
    top: -20px;
    font-size: 14px;
    color: #659c14;
    font-weight: bold;
}
/* active state */
.iinput:focus ~ label, .iinput:not(:placeholder-shown) ~ .llabel {
    top: -20px;
    font-size: 14px;
    color: #659c14;
    font-weight: bold;
}

/* BOTTOM BARS ================================= */
.bbar {
    position: relative;
    display: block;
    width: 300px;
}

    .bbar:before, .bbar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #86C232;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bbar:before {
        left: 50%;
    }

    .bbar:after {
        right: 50%;
    }

/* active state */
input:focus ~ .bbar:before, input:focus ~ .bbar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.hhighlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.iinput:focus ~ .hhighlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #86C232;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #86C232;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #86C232;
    }

    to {
        width: 0;
        background: transparent;
    }
}
